QDRANT_API_KEY=
QDRANT_URL=



QDRANT_COLLECTION=medical_records
EMBED_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2

JWT_SECRET=


BACKEND_URL=http://localhost:4001


APP_URL=http://localhost:3000/patient/dashboard



SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SCHEMA=
SUPABASE_USERS_TABLE=

JWT_EXPIRES=
REFRESH_SECRET=
REFRESH_EXPIRES=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

MAIL_HOST=
MAIL_PORT=
MAIL_FROM=


SMTP_EMAIL=
SMTP_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


FASTAPI_URL=



MONGODB_URI=
GEMINI_API_KEY=
GROQ_API_KEY=



GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=

GOOGLE_REFRESH_TOKEN=

ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=


HUGGINGFACE_API_KEY=



# Fitbit OAuth Configuration
FITBIT_CLIENT_ID=
FITBIT_CLIENT_SECRET=
FITBIT_CALLBACK_URL=
EMBEDDINGS_SERVICE_URL=
RAG_SERVICE_URL=