SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
MONGODB_URI=
MONGODB_DATABASE=hygieia
PORT=4012
RECOMMENDATIONS_TABLE=patient_recommendations
RECOMMENDATION_CRON_HOUR=12
RECOMMENDATION_CRON_MINUTE=0
RECOMMENDATION_BATCH_DELAY_SECONDS=30
SCHEDULER_TIMEZONE=UTC
RECOMMENDATIONS_MODEL_DRIVE_URL=https://drive.google.com/file/d/16HH783V215USXVVIvzlIugR6DWdK8Tbf/view?usp=sharing
RECOMMENDATIONS_MODEL_PATH=models/recommendation_model.pth
